<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col">
            <div class="copyright text-center text-white">
                &copy;
                2021 Hak cipta terpelihara ©
                <a href="https://pmo.spab.gov.my/eApps/system/index.do?showPage=faq"
                    class="font-weight-bold ml-1 text-dg" target="_blank">
                    Pejabat Perdana Menteri
                </a>
            </div>
            <div class="copyright text-center text-white">
                Paparan terbaik menggunakan Chrome versi 69 dan ke atas,
                Firefox versi 61 dan ke atas, Safari versi 11 dan ke atas,
                Opera versi 54 dan ke atas, dan Edge versi 16 dan ke atas.
            </div>
        </div>
    </div>
</footer>