<!-- header -->
<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Aduan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-flag text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> Edit </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- body -->
<div class="container-fluid mt--6">
  <!-- line 1st -->
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Carta</h6>
              <h5 class="h3 mb-0">Bilangan aduan bulanan</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="adu1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- line 2nd -->
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Carta</h6>
              <h5 class="h3 mb-0">Status Aduan</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="adu2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Carta</h6>
              <h5 class="h3 mb-0">Kategori Aduan</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="adu3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- line 3rd -->
  <div class="row">
    <div class="col">
      <!-- ngx table -->
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Senarai</h6>
              <h5 class="h3 mb-0">Rekod Aduan</h5>
            </div>
            <div class="col-auto text-right">
              <a class="btn btn-sm btn-neutral" (click)="openModal(createUser)">
                Cipta
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column name="Name">
                <ng-template ngx-datatable-header-template>
                  <span>Nama</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Start">
                <ng-template ngx-datatable-header-template>
                  <span>Tarikh</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Position">
                <ng-template ngx-datatable-header-template>
                  <span>Kategori</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="status">
                <ng-template ngx-datatable-header-template>
                  <span>Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.status == '1'"
                    class="badge badge-pill badge-info"
                    >Sedang diproses</span
                  >
                  <span
                    *ngIf="row.status == '2'"
                    class="badge badge-pill badge-danger"
                    >Batal</span
                  >
                  <span
                    *ngIf="row.status == '3'"
                    class="badge badge-pill badge-warning"
                    >Perlu pengesahan</span
                  >
                  <span
                    *ngIf="row.status == '4'"
                    class="badge badge-pill badge-success"
                    >Selesai</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>View/Edit</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a
                    class="btn btn-sm btn-neutral"
                    (click)="openModal(createUser)"
                  >
                    <i class="far fa-eye"></i>
                  </a>
                  <a class="btn btn-sm btn-success" (click)="confirm()">
                    <i class="fas fa-check text-white"></i>
                  </a>
                  <a class="btn btn-sm btn-warning" (click)="reject()">
                    <i class="fas fa-ban text-white"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createUser>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Cipta Aduan
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="form-control-label">Nama</label>
        <input
          class="form-control"
          placeholder="Masukkan nama"
          formControlName="name"
          type="text"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nombor telefon</label>
        <input
          class="form-control"
          placeholder="0123456789"
          type="tel"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Alamat</label>
        <textarea
          class="form-control"
          placeholder="Alamat penuh"
          resize="none"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="example-date-input">
          Tarikh
        </label>
        <input
          class="form-control"
          id="example-date-input"
          type="date"
          value="2018-11-23"
        />
      </div>
      <div class=" form-group">
        <label
          class=" form-control-label"
          for="exampleFormControlSelect3"
        >
          Kategori
        </label>

        <select class=" form-control" id="exampleFormControlSelect3">
          <option> A </option>

          <option> B </option>

          <option> C </option>

          <option> D </option>

          <option> E </option>
        </select>
      </div>
      <div class=" form-group">
        <label
          class=" form-control-label"
          for="exampleFormControlTextarea1"
        >
          Aduan
        </label>

        <textarea
          class=" form-control"
          id="exampleFormControlTextarea3"
          rows="3"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="confirm()"
    >
      Cipta
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>
